a:link{
    text-decoration: none;
}

.roadmap-title {
    font-family: 'LuckiestGuy';
    font-size: 50px;
    text-align: center;
    color: #ffff
}

.roadmap-description {
    font-family: 'LuckiestGuy';
    font-size: 20px;
    text-align: center;
    color: #ffff
}

.img-container{
    height: 500px;
    width: 500px;
}
.img-preview{
    height: 150px;
    width: 150px;
}