.team-section, .about-section{
    background-color: #090909;
}

.heading{
    font-family: 'LuckiestGuy';
}

.text{
    font-family: 'Amiko-Bold';
}

.center{
    display: flex;
    justify-content: center;
}

.accordian{
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    color: #ffc107;
}
