.team-section, .about-section{
    background-color: #090909;
}

.heading{
    font-family: 'LuckiestGuy';
}

.text{
    font-family: 'Amiko-Bold';
}

.discord-button-container{
    width: 150px;
    padding-top: 20px;
}

.discord-button-container:hover{
    transform: scale(1.1) translateZ(0px) !important;
}

.twitter-button-container{
    width: 150px;
    height: 100px;
    padding-top: 20px;
}

.twitter-button-container:hover{
    transform: scale(1.1) translateZ(0px) !important;
}

.discord-button{
    width: 150px;
    height: 60px;
    background-color: #4052dc;
    padding: 12px;
    border-radius: 3px;
}

.twitter-button{
    /* width: 150px; */
    height: 60px;
    /* padding: 12px; */
}

.mint-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mint-section>Button{
    width: 100%;
}

ul{
    list-style-type: none;
    color: #ffc107;
}
