a{
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

.text-colour{
    color: #fff !important;
}

.text-section {
    text-align: left;
}
.social-icon-list {
    text-align: right;
}

@media (max-width: 576px) {
    .text-section {
        text-align: center;
    }
    .social-icon-list {
        text-align: center;
    }
}

.social-link{
    margin-right: 10px;
}